<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>新年</key>
		<array>
			<dict>
				<key>title</key>
				<string>灯笼</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Denglong_9/9.png</string>
				<key>id</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>春节</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
				<key>id</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>动物世界</key>
		<array>
			<dict>
				<key>title</key>
				<string>蝴蝶</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Butterfly_19/19.png</string>
				<key>id</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>鹿</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Deer_10/10.png</string>
				<key>id</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>海豚</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Dolphin_10/10.png</string>
				<key>id</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>青蛙</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Frog_13/13.png</string>
				<key>id</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>熊猫</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Panda_13/13.png</string>
				<key>id</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>喜鹊</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/XiQue_14/14.png</string>
				<key>id</key>
				<integer>8</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>花</key>
		<array>
			<dict>
				<key>title</key>
				<string>花一</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/TuanHua1_12/12.png</string>
				<key>id</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>花二</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/TuanHua2_13/13.png</string>
				<key>id</key>
				<integer>17</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>雪花</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/XueHua_14/14.png</string>
				<key>id</key>
				<integer>18</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>十二生肖</key>
		<array>
			<dict>
				<key>title</key>
				<string>鸡</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Chicken_10/10.png</string>
				<key>id</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>狗</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Dog_14/14.png</string>
				<key>id</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>马</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Horse_7/7.png</string>
				<key>id</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>猴子</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Monkey_14/14.png</string>
				<key>id</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>猪</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Pig_16/16.png</string>
				<key>id</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>兔子</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Rabbit_12/12.png</string>
				<key>id</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>老虎</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/Tiger_14/14.png</string>
				<key>id</key>
				<integer>15</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>字</key>
		<array>
			<dict>
				<key>title</key>
				<string>囍一</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/DoubleXi1_11/11.png</string>
				<key>id</key>
				<integer>19</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>囍二</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/DoubleXi2_12/12.png</string>
				<key>id</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>囍三</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/DoubleXi3_11/11.png</string>
				<key>id</key>
				<integer>21</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>鸳鸯</string>
				<key>thumbnail</key>
				<string>http://papercut.jd-app.com/learn/YuanYang_11/11.png</string>
				<key>id</key>
				<integer>22</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
