<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Denglong_9/1.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/2.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/3.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/4.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/5.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/6.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/7.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/8.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/9.png</string>
	</array>
	<key>2</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>3</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>New item - 5</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>New item - 6</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>New item - 7</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>New item - 8</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>New item - 9</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>New item - 10</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>New item - 11</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>New item - 12</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>New item - 13</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>New item - 14</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>New item - 15</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>New item - 16</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
</dict>
</plist>
