<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Denglong_9/1.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/2.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/3.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/4.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/5.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/6.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/7.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/8.png</string>
		<string>http://papercut.jd-app.com/learn/Denglong_9/9.png</string>
	</array>
	<key>2</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>3</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/1.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/2.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/3.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/4.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/5.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/6.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/7.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/8.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/9.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/10.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/11.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/12.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/13.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/14.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/15.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/16.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/17.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/18.png</string>
		<string>http://papercut.jd-app.com/learn/Butterfly_19/19.png</string>
	</array>
	<key>4</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Deer_10/1.png</string>
		<string>http://papercut.jd-app.com/learn/Deer_10/2.png</string>
		<string>http://papercut.jd-app.com/learn/Deer_10/3.png</string>
		<string>http://papercut.jd-app.com/learn/Deer_10/4.png</string>
		<string>http://papercut.jd-app.com/learn/Deer_10/5.png</string>
		<string>http://papercut.jd-app.com/learn/Deer_10/6.png</string>
		<string>http://papercut.jd-app.com/learn/Deer_10/7.png</string>
		<string>http://papercut.jd-app.com/learn/Deer_10/8.png</string>
		<string>http://papercut.jd-app.com/learn/Deer_10/9.png</string>
		<string>http://papercut.jd-app.com/learn/Deer_10/10.png</string>
	</array>
	<key>5</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Dolphin_10/1.png</string>
		<string>http://papercut.jd-app.com/learn/Dolphin_10/2.png</string>
		<string>http://papercut.jd-app.com/learn/Dolphin_10/3.png</string>
		<string>http://papercut.jd-app.com/learn/Dolphin_10/4.png</string>
		<string>http://papercut.jd-app.com/learn/Dolphin_10/5.png</string>
		<string>http://papercut.jd-app.com/learn/Dolphin_10/6.png</string>
		<string>http://papercut.jd-app.com/learn/Dolphin_10/7.png</string>
		<string>http://papercut.jd-app.com/learn/Dolphin_10/8.png</string>
		<string>http://papercut.jd-app.com/learn/Dolphin_10/9.png</string>
		<string>http://papercut.jd-app.com/learn/Dolphin_10/10.png</string>
	</array>
	<key>6</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Frog_13/1.png</string>
		<string>http://papercut.jd-app.com/learn/Frog_13/2.png</string>
		<string>http://papercut.jd-app.com/learn/Frog_13/3.png</string>
		<string>http://papercut.jd-app.com/learn/Frog_13/4.png</string>
		<string>http://papercut.jd-app.com/learn/Frog_13/5.png</string>
		<string>http://papercut.jd-app.com/learn/Frog_13/6.png</string>
		<string>http://papercut.jd-app.com/learn/Frog_13/7.png</string>
		<string>http://papercut.jd-app.com/learn/Frog_13/8.png</string>
		<string>http://papercut.jd-app.com/learn/Frog_13/9.png</string>
		<string>http://papercut.jd-app.com/learn/Frog_13/10.png</string>
		<string>http://papercut.jd-app.com/learn/Frog_13/11.png</string>
		<string>http://papercut.jd-app.com/learn/Frog_13/12.png</string>
		<string>http://papercut.jd-app.com/learn/Frog_13/13.png</string>
	</array>
	<key>7</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>8</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>9</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>10</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>11</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>12</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>13</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>14</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
	<key>15</key>
	<array>
		<string>http://papercut.jd-app.com/learn/Spring_6/1.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/2.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/3.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/4.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/5.png</string>
		<string>http://papercut.jd-app.com/learn/Spring_6/6.png</string>
	</array>
</dict>
</plist>
