<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group_title</key>
		<string>辞旧迎新</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>春</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Spring_6/</string>
				<key>count</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>灯笼</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Denglong_9/</string>
				<key>count</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>福</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Fu_7/</string>
				<key>count</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>脸谱</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Face_09/</string>
				<key>count</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>羊</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Sheep_11/</string>
				<key>count</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_title</key>
		<string>花团锦簇</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>团花一</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/TuanHua1_12/</string>
				<key>count</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>团花二</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/TuanHua2_13/</string>
				<key>count</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>雪花</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/XueHua_14/</string>
				<key>count</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>花</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Flower_17/</string>
				<key>count</key>
				<integer>17</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_title</key>
		<string>十二生肖</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>鸡</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Chicken_10/</string>
				<key>count</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>狗</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Dog_14/</string>
				<key>count</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>羊</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/goat_8/</string>
				<key>count</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>马</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Horse_7/</string>
				<key>count</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>猪</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Pig_16/</string>
				<key>count</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>兔子</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Rabbit_12/</string>
				<key>count</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>猴子</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Monkey_14/</string>
				<key>count</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>老虎</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Tiger_14/</string>
				<key>count</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>牛</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Cow_8/</string>
				<key>count</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>龙</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Dragon_8/</string>
				<key>count</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>蛇</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Snack_8/</string>
				<key>count</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>鼠</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Mouse_8/</string>
				<key>count</key>
				<integer>8</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_title</key>
		<string>花鸟虫鱼</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>蝴蝶</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Butterfly_19/</string>
				<key>count</key>
				<integer>19</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>鹿</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Deer_10/</string>
				<key>count</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>海豚</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Dolphin_10/</string>
				<key>count</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>青蛙</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Frog_13/</string>
				<key>count</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>熊猫</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Panda_13/</string>
				<key>count</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>喜鹊</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/XiQue_14/</string>
				<key>count</key>
				<integer>14</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_title</key>
		<string>喜结连理</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>双喜一</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/DoubleXi1_11/</string>
				<key>count</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>双喜二</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/DoubleXi2_12/</string>
				<key>count</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>双喜三</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/DoubleXi3_11/</string>
				<key>count</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>鸳鸯</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/YuanYang_11/</string>
				<key>count</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>缘</string>
				<key>base_url</key>
				<string>http://papercut.jd-app.com/learn/Yuan_7/</string>
				<key>count</key>
				<integer>7</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
